WORKBENCH_API_KEY='wb_live_replace_with_your_dynamic_client_key'
TERMINAL_ENV=local
OBSIDIAN_VAULT_PATH=../MyVault
OPENAI_API_KEY='wb_live_replace_with_your_dynamic_client_key'
WORKBENCH_API_BASE=http://127.0.0.1:8000
OPENAI_BASE_URL='http://127.0.0.1:8000/v1'
